@import "../node_modules/bootstrap/dist/css/bootstrap.css";
body {
  background-color: lightsteelblue;
}
main {
  border-radius: 0.5rem;
  padding: 2rem;
  background-color: whitesmoke;
  margin: 6rem;
}
.datetime {
  display: block;
}
.img-upload {
  border: 1px solid #dbdae3;
  text-align: center;
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: lightgray;
}
.img-upload-inner {
  border: 2px dashed #dbdae3;
  border-radius: 0.5rem;
  padding: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.img-upload-inner:hover {
  color: cornflowerblue;
  border: 2px dashed cornflowerblue;
}
.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.eventlist {
  margin-top: 1rem;
}
img {
  max-width: 100%;
  max-height: 300px;
  display: block;
}
