@import "../node_modules/bootstrap/dist/css/bootstrap.css";
body {
  background-color: lightslategray;
}
main {
  border-radius: 0.5rem;
  padding: 2rem;
  margin-left: auto;
  margin-right: auto;
  width: 70vw;
}
.title {
  color: white;
  text-shadow: 0px 3px 3px rgba(50, 50, 50, 0.8);
  font-weight: 700;
}
.datetime {
  display: block;
}
.img-upload {
  border: 1px solid #dbdae3;
  text-align: center;
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: lightgray;
}
.img-upload-inner {
  border: 2px dashed #dbdae3;
  border-radius: 0.5rem;
  padding: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.img-upload-inner:hover {
  color: cornflowerblue;
  border: 2px dashed cornflowerblue;
}
.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.eventlist {
  margin-top: 1rem;
}

